<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Remaining data</th>
      <th>Ip</th>
      <th>Next hop</th>
      <th>Session key</th>
      <th>Nonce</th>
      <th>Timestamp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.remaining_data %></td>
        <td><%= user.ip %></td>
        <td><%= user.next_hop %></td>
        <td><%= user.session_key %></td>
        <td><%= user.nonce %></td>
        <td><%= user.timestamp %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
