<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>IP</strong>
  <%= @user.ip %>
</p>

<p>
  <strong>Next hop</strong>
  <%= @user.next_hop %>
</p>

<p>
  <strong>Last access:</strong>
  <%= @user.last_access %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
